* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ece3d5fe;


}

nav{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fcf5eb;
     width: 1650px;   
    padding: 8px 16px;
    border-bottom: 0px;
    color: transparent;
}

ul li{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left:20px;
    margin-bottom: 20;
    
   
    color: black;
}

.web{
    margin-left: 110px;
}

.whatsapp{
    margin-left: 10px;
    height: 50px;
    width: 200px;
}

.feature{
    margin-left: 400px;
}
.fe{
    height: 2px;
    width: 20px;
    background: rgb(13,223,153);
    visibility: hidden;
    transition: 1s;
}

.feature:hover .fe{
    width: 65px;
    visibility: visible;
}

.pri:hover .fe{
    width: 55px;
    visibility: visible;
}

.hel:hover .fe{
    width: 90px;
    visibility: visible;
}

.bl:hover .fe{
    width: 35px;
    visibility: visible;
}

.bus:hover .fe{
    width: 105px;
    visibility: visible;
}

.web:hover .fe{
    width: 120px;
    visibility: visible;
}

.dod{
    border: none;
    border-radius: 50px;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #25d366;
    margin-left: 20px;
}
.dod:hover{
    background-color: black;
    color: white;
}


.h12 {
    position: absolute;
    top: 580px;
    left: -450px;
    font-size: 42px;

}

#suja {
    position: relative;
    border: solid 1px transparent;
    height: 700px;
    top: 200px;
    left: 100px;
}

.h13 {
    top: 50px;
    position: absolute;
    left: 100px;
    font-size: 65px;
}


.h14 {
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
}


.h15 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30px;
}


.h16 {
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
}


.h17 {
    font-size: 15px;
    margin-top: 38px;
    margin-left: 30px;
}





.img {
    height: 25px;
    width: 120px;
    margin-top: 17px;
    margin-left: 20px;
}

/*navigation bar animation*/



#amu6 {
    height: 50px;
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 40px;
    background-color: #25d366;

}

#amu6:hover {
    background-color: rgb(0, 0, 0);
    color: white;

}


#amu7 {
    font-size: 35px;
    margin-left: 200px;
    margin-top: 350px;
    background-color: transparent;
    border-radius: 100%;
    width: 45px;

}


#amu8 {
    font-size: 35px;
    background-color: transparent;
    border-radius: 100%;
    width: 45px;

}

.amu9 {
    background-color: transparent;
    font-size: 20px;
    height: 50px;
    width: 140px;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 80px;
    border: 1px solid black;
}

.amu9:hover {
    background-color: black;
    color: white;
    transition: width -20px;


}

.amu10 {
    background-color: transparent;
    font-size: 20px;
    height: 50px;
    width: 140px;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 80px;
    border: 1px solid black;
}

.amu10:hover {
    background-color: black;
    color: white;
    transition: width -20px;


}



#box {
    border: 1px solid black;
    width: 1500px;
    height: 590px;
    margin-top: 100px;
    margin-left: 40px;
    border-radius: 30px;
}





#image {
    width: 100%;
    height: 590px;
    border-radius: 30px;
    position: relative;
}

.p1 {
    position: absolute;
    font-size: 70px;
    z-index: 1;
    color: white;
    left: 400px;
    top: 300px;
}

.p2 {
    position: absolute;
    font-size: 20px;
    z-index: 1;
    color: white;
    left: 400px;
    top: 470px;
}

/*animation and images*/

.image1 {
    height: 190px;
    width: 350px;
    position: absolute;
    top: 400px;
    left: 900px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid1 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 1.8s;
}

.image2 {
    position: absolute;
    width: 380px;
    height: 35px;
    top: 220px;
    left: 900px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid2 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 1s;
}

.image3 {
    position: absolute;
    height: 50px;
    width: 380px;
    top: 350px;
    left: 900px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid3 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 1.4s;
}

.image4 {
    position: absolute;
    height: 100px;
    width: 350px;
    top: 250px;
    left: 950px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid4 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 1.3s;
}

.image5 {
    border: 1px solid rgb(255, 255, 255);
    width: 22px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    height: 20px;
    top: 247px;
    left: 920px;
    text-align: center;

}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid5 {
    opacity: 0;
    animation: image-animation 0.5s forwards;
    animation-delay: 1.2s;
}

.image6 {
    position: absolute;
    height: 50px;
    top: 570px;
    left: 890px;
    z-index: 1;

}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid6 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 2s;
}

.image7 {
    position: absolute;
    height: 50px;
    width: 300px;
    top: 580px;
    left: 950px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#adid7 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 2s;

}





.button1 {
    position: absolute;
    height: 40px;
    width: 120px;
    left: 400px;
    top: 550px;
    border-radius: 40px;
    background-color:
        #25d366;
    box-shadow: 8px 9px 5px 2px;
}

.p3 {
    top: 710px;
    color: black;
    margin-left: 1155px;
}

#piyush1 {
    height: 210px;
    width: 1190px;
    margin-left: 175px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#piyush1 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 4s;
}

#piyush2 {
    height: 230px;
    width: 1190px;
    margin-left: 170px;
    margin-top: 180px;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#piyush2 {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 6s;
}


#content {
    position: absolute;
    font-size: 35px;
    left: 500px;
    top: 1000px;
    text-align: center;
}

@keyframes image-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translate(0px);
    }
}

#content {
    opacity: 0;
    animation: image-animation 1s forwards;
    animation-delay: 5s;
}

#contents {
    font-size: 40px;
    margin-left: 400px;
    margin-top: 130px;
}

#contentss {
    margin-left: 400px;
    font-size: 16px;
}

#content1 {
    margin-left: 960px;
    margin-top: -360px
}

#box2 {
    border: 1px solid black;
    background-color: #111B21;
    width: 1600px;
    height: 500px;

}



.co {
    height: 2px;
    width: 2px;
    background-color: #25d366;
    transition: width 1s;
    visibility: hidden;

}



.piyush3 {
    width: 330px;
    height: 430px;
    margin-top: -500px;
    margin-left: 400px;
}



.piyush4 {
    width: 300px;
    height: 550px;

    margin-top: 200px;
    margin-left: 900px;

}

.piyush5 {
    width: 320px;
    height: 420px;
    margin-left: 920px;
    margin-top: -700px;
    z-index: 0;
    position: static;




}

.piyush6 {
    width: 280px;
    height: 500px;
    margin-left: 480px;
    margin-top: 40px;

}

.piyush7 {
    width: 230px;
    height: 200px;
    margin-left: -265px;
    margin-bottom: 160px;
}

.piyush8 {
    position: absolute;
    left: 760px;
    height: 500px;
    width: 280px;
    top: 70px;
}


.content2 {
    margin-left: 800px;
    font-size: 40px;
    margin-top: -360px;
    color: white;

}

.content3 {
    margin-left: 800px;
    font-size: 40px;
    color: #25d366;

}

.content4 {
    margin-left: 800px;
    font-size: 13px;
    color: white;

}

#suj {
    border: 1px solid transparent;
    position: relative;
    height: 800px;
}

.content5 {
    position: absolute;
    left: 400px;
    bottom: 300px;
    font-size: 40px;

}

.content6 {
    position: absolute;
    left: 400px;
    font-size: 19px;
    bottom: 220px;

}

#content7 {
    margin-left: 860px;
    margin-top: 10px;
}


#content8 {
    position: absolute;
    left: 410px;
    top: 340px;
    width: 280px;
    font-size: 15px;
}







h1 {
    margin-left: 860px;
    margin-top: -350px;
}


#box3 {
    border: solid none 1px;
    background-color: #1c1e21;
    width: 1580px;
    height: 1300px;
    margin-top: 60px;
    position: relative;

}



#box4 {
    border: solid none 1px;
    background-color: #E6FFDA;
    width: 1580px;
    height: 815px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.box5 {
    border: 1px solid transparent;
    width: 450px;
    height: 400px;
    margin-left: 600px;
    margin-top: -300px;
    background-color: white;
    border-radius: 30px;
}

.box6 {
    border: 1px solid transparent;
    width: 450px;
    height: 400px;
    margin-left: 70%;
    margin-top: -400px;
    background-color: white;
    border-radius: 30px;
}


.box7 {
    border: 1px solid transparent;
    height: 250px;
    width: 180px;
    position: absolute;
    bottom: 180px;
    left: 500px;
}

.box7 p {
    color: white;
    margin-top: 15px;

}

.box7a {
    position: absolute;
    top: 60px;
    font-size: 25px;
}

.box7a p {
    margin: 20px;
    margin-left: 0px;
}

.box8 {
    border: 1px solid transparent;
    height: 250px;
    width: 180px;
    position: absolute;
    bottom: 180px;
    left: 720px;
}

.box8 p {
    color: white;
    margin-top: 15px;

}

.box8a {
    position: absolute;
    top: 60px;
    font-size: 25px;
}

.box7ab {
    position: absolute;
    top: 148px;
}

.box8a p {
    margin: 20px;
    margin-left: 0px;
}

.box9 {
    border: 1px solid transparent;
    height: 250px;
    width: 260px;
    position: absolute;
    bottom: 180px;
    left: 960px;
}

.box9 p {
    color: white;
    margin-top: 15px;

}

.box9a {
    position: absolute;
    top: 60px;
    font-size: 25px;
}

.box7ab {
    position: absolute;
    top: 148px;
}



.box10 {
    border: 1px solid transparent;
    height: 250px;
    width: 100px;
    position: absolute;
    bottom: 180px;
    left: 1180px;
}

.box10 p {
    color: white;
    margin-top: 15px;

}

.box10a {
    position: absolute;
    top: 60px;
    font-size: 25px;
}

.box7ab {
    position: absolute;
    top: 148px;
}

#piyush9 {
    position: absolute;
    bottom: 400px;
    left: 200px;
}

#amu11 {
    position: absolute;
    bottom: 250px;
    left: 195px;
    height: 65px;
    width: 200px;
    border-radius: 50px;
    background-color: #25d366;
}

.line {
    border: 0.5px solid #25d366;
    width: 75%;
    margin-left: 200px;
    height: -5px;


}


.box12 {
    position: relative;
    border: 1px solid transparent;
    width: 99.9%;
    background-color: #1c1e21;
    height: 200px; 
     
    margin-left: -1px
 
}

.mar p{
    display: inline-block;
    margin-left: 50px;
}

.mar{
 
   margin-top: 40px;
   margin-left: 300px;
}


.llc{
    color: white;
    margin-top: 50px;
    font-size: 15px;
}

.term{
    position: absolute;
    margin-top: 50px;
    color: white;
    font-size: 15px;
}


#tw {
   
    margin-top: -50px;
    margin-left: 50px;
}

#ytlogo {
    margin-top: 100px;
    margin-left: 50px;
}

#insta {
    margin-top: 100px;
    margin-left: 50px;
}

#fb {
    margin-top: 100px;
    margin-left: 50px;
}

.box13 {
    position: absolute;
   left: 650px;
    bottom: 90px;
}

                                                                                                                
.z23{
    position: absolute;
    right: 230px;
    height: 45px;
    width: 150px;
    color: white;
    background-color: transparent;
    border-radius: 35px;
    font-size: 20px;
    bottom: 78px;
}

